
<%= simple_form_for(@meetup_event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :rsvp_link %>
    <%= f.input :image %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :venue_name %>
    <%= f.input :venue_address %>
    <%= f.input :venue_coordinates %>
    <%= f.input :data %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
