<div id="<%= dom_id meetup_event %>">
  <p>
    <strong>Title:</strong>
    <%= meetup_event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= meetup_event.description %>
  </p>

  <p>
    <strong>Rsvp link:</strong>
    <%= meetup_event.rsvp_link %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= meetup_event.image %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= meetup_event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= meetup_event.end_time %>
  </p>

  <p>
    <strong>Venue name:</strong>
    <%= meetup_event.venue_name %>
  </p>

  <p>
    <strong>Venue address:</strong>
    <%= meetup_event.venue_address %>
  </p>

  <p>
    <strong>Venue coordinates:</strong>
    <%= meetup_event.venue_coordinates %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= meetup_event.data %>
  </p>

</div>
